<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShowItems</servlet-name>
        <servlet-class>shopPackage.ShowItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutPage</servlet-name>
        <servlet-class>shopPackage.logoutPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutServlet</servlet-name>
        <servlet-class>shopPackage.checkoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowItems</servlet-name>
        <url-pattern>/ShowItems</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TechBooksPage</servlet-name>
        <servlet-class>shopPackage.TechBooksPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TechBooksPage</servlet-name>
        <url-pattern>/TechBooksPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderPage</servlet-name>
        <servlet-class>shopPackage.OrderPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderPage</servlet-name>
        <url-pattern>/OrderPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KidsBooksPage</servlet-name>
        <servlet-class>shopPackage.KidsBooksPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KidsBooksPage</servlet-name>
        <url-pattern>/KidsBooksPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CatalogPage</servlet-name>
        <servlet-class>shopPackage.CatalogPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogPage</servlet-name>
        <url-pattern>/CatalogPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginForm</servlet-name>
        <servlet-class>shopPackage.loginForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginForm</servlet-name>
        <url-pattern>/loginForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registrationForm</servlet-name>
        <servlet-class>shopPackage.registrationForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationForm</servlet-name>
        <url-pattern>/registrationForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutPage</servlet-name>
        <url-pattern>/logoutPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutServlet</servlet-name>
        <url-pattern>/checkoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
